/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'font-awesome/css/font-awesome.min.css';

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #014ba0;
  --ifm-color-primary-dark: #014390;
  --ifm-color-primary-darker: #014088;
  --ifm-color-primary-darkest: #013470;
  --ifm-color-primary-light: #0152b0;
  --ifm-color-primary-lighter: #0156b8;
  --ifm-color-primary-lightest: #0161d0;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #0cb7f2;
  --ifm-color-primary-dark: #0ba5da;
  --ifm-color-primary-darker: #0a9cce;
  --ifm-color-primary-darkest: #0880a9;
  --ifm-color-primary-light: #23bff4;
  --ifm-color-primary-lighter: #2fc2f5;
  --ifm-color-primary-lightest: #54cdf7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.coloBadge{
  background-color: #666666;
  padding: 10px;
  border-radius: 50px;
  color:white;
  font-weight: bold;
  font-size: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}


/* Iconons */

.navbar__icon {
  height: 2rem;
  width: 2rem;
}

.navbar__github {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.4rem;
  transition: background var(--ifm-transition-fast);
}

html[data-theme='light'] .navbar__github {
  color: #000;
}

html[data-theme='dark'] .navbar__github {
  color: #fff;
}

.navbar__github:hover {
  background: var(--ifm-color-emphasis-200);
}